<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

  <display-name>Archetype Created Web Application</display-name>

  <!--[欢迎页面，可定义多个，会依次查找可用视图]-->
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>

  <!--添加一个监听器-->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>


  <!--对应的是 controller 级别的配置，作用范围是控制层上下文。-->
  <!--配置servlet，这里可以配置多个servlet-->
  <servlet>
    <servlet-name>spring0to1</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!--这里不写默认就会去/WEB-INF/spring0to1-context.xml 下面去寻找这个文件-->
    <!--如果配置了这个位置，那么它就会去制定位置加载文件 -->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/spring0to1-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!--配置servlet拦截器，这里可以配置多个servlet-mapping>-->
  <servlet-mapping>
    <servlet-name>spring0to1</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!-- 指定Spring Bean的配置文件所在目录。默认配置在WEB-INF目录下,对应的是系统级别的配置，作用范围是系统上下文。-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/applicationContext.xml</param-value>
  </context-param>

  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
